#set($title="this is test")
<div class="breadcrumbs">
    <ul class="breadcrumb" id="breadcrumbs">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/">首页</a>
        </li>
        <li>test</li>
    </ul>
</div>

<style>
    .conTab td {
        font-size: 14px;
    }
    .conTab td.title {
        text-align: right;
        width: 120px;
    }
    .conTab td.comment {
        font-size: 12px;
        color:gray;
    }
    .col-xs-4 {
        /*
        border:1px solid red;
        */
    }

    .tab-pane {
        /*
       border:1px solid orangered;
       */
    }

    .highcharts-container {
        /*
       border:1px solid blue;
       */
    }
    
</style>

<div class="page-content" id="pageCotent">
    <div class="row">
        <div class="col-xs-12">
            <form class="well form-horizontal" role='form' id="form">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <table border="0" class="conTab" style="width: 100%;">
                                <tr>
                                    <td class="title">姓名：</td>
                                    <td>
                                        <input type="text" placeholder="输入条件"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        ##chart
        <div class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#content1">
                            <i class="red icon-bar-chart bigger-110"></i>基本信息
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#content2">
                            <i class="red icon-bar-chart bigger-110"></i>统计信息
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="content1" class="tab-pane active"></div>
                    <div id="content" class="tab-pane"></div>
                </div>
            </div>
        </div>

        <!--Table区域-->
        <div class="dataTables_wrapper col-md-12">
            ## table-striped
            <table class="table table-bordered table-hover" id="aptitude-table">
                <thead>
                    <tr>
                        <th class="center">编号</th>
                        <th class="center">姓名</th>
                        <th class="center">电话</th>
                        <th class="center">年龄</th>
                    </tr>
                </thead>
                <tbody id="list" aria-relevant="all" aria-live="polite" role="alert">
                    <tr><td colspan="14" class="center">未开始查询</td></tr>
                </tbody>
            </table>

            <div style="margin-bottom:10px;" id="page"></div>

        </div>
    </div>
</div>

<script src="$!homeModule.getTarget('/assets/chosen/chosen.jquery.min.js')"></script>
<script src="$!homeModule.getTarget('/assets/daterangepicker/moment.min.js')"></script>
<script src="$!homeModule.getTarget('/assets/daterangepicker/daterangepicker.min.js')"></script>
<script src="$!homeModule.getTarget('/assets/jqgrid/jquery.jqGrid.min.js')"></script>
<script src="$!homeModule.getTarget('/assets/jqgrid/grid.locale-cn.js')"></script>
<script src="$!homeModule.getTarget('/assets/js/jquery.blockUI.js')"></script>
<script src="$!homeModule.getTarget('/assets/highcharts/highcharts.js')"></script>

<script src="$!homeModule.getTarget('/assets/view/common/common.js')"></script>
<script src="$!homeModule.getTarget('/assets/view/common/showPage.js')"></script>
<script src="$!homeModule.getTarget('/assets/view/demo/demo-list.js')"></script>

<script type="text/javascript">


</script>
