<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmall.cem.dao.MemStatisticLevelDao" >

    <!-- wm_order 所有查询列 -->
    <sql id="QUERY_COLUMN_LIST">
        <![CDATA[
              reg_date AS regDate,
              mem_level AS memLevel,
              platform,
              province_id AS provinceId,
              city_id AS cityId,
              province_name AS provinceName,
              city_name AS cityName,
              vender_id AS venderId,
              vender_name AS venderName,
              store_id AS storeId,
              store_sap_id AS storeSapId,
              store_name AS storeName,
              reg_num AS regNum,
              reg_num_total AS regNumTotal,
              num_pt AS numPt,
              num_total_pt AS numTotalPt,
              created,
              modified
        ]]>
    </sql>

    <sql id="QUERY_FROM_TABLE"><![CDATA[FROM cem_mem_level_statistic]]></sql>
    <sql id="TABLE_NAME"><![CDATA[cem_mem_level_statistic]]></sql>

    <!-- 全部条件 -->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            <if test="id != null"><![CDATA[AND id = #{id}]]></if>
            <if test="platform != null"><![CDATA[AND platform = #{platform}]]></if>
            <if test="memLevel != null"><![CDATA[AND mem_level = #{memLevel}]]></if>
            <if test="regDateStart != null"><![CDATA[AND reg_date >= #{regDateStart}]]></if>
            <if test="regDateEnd != null"><![CDATA[AND reg_date <= #{regDateEnd}]]></if>
            <if test="regDate != null"><![CDATA[AND reg_date = #{regDate}]]></if>
            <if test="platformList != null and platformList.size &gt; 0">
                <![CDATA[AND platform IN]]>
                <foreach collection="platformList" item="singleVal" open="(" separator="," close=")">
                    <![CDATA[#{singleVal}]]>
                </foreach>
            </if>
            <if test="cityIdList != null and cityIdList.size &gt; 0">
                <![CDATA[AND city_id IN]]>
                <foreach collection="cityIdList" item="singleVal" open="(" separator="," close=")">
                    <![CDATA[#{singleVal}]]>
                </foreach>
            </if>
            <if test="venderIdList != null and venderIdList.size &gt; 0">
                <![CDATA[AND vender_id IN]]>
                <foreach collection="venderIdList" item="singleVal" open="(" separator="," close=")">
                    <![CDATA[#{singleVal}]]>
                </foreach>
            </if>
            <if test="storeIdList != null and storeIdList.size &gt; 0">
                <![CDATA[AND store_id IN]]>
                <foreach collection="storeIdList" item="singleVal" open="(" separator="," close=")">
                    <![CDATA[#{singleVal}]]>
                </foreach>
            </if>
            <if test="storeSapIdList != null and storeSapIdList.size &gt; 0">
                <![CDATA[AND store_id IN]]>
                <foreach collection="storeSapIdList" item="singleVal" open="(" separator="," close=")">
                    <![CDATA[#{singleVal}]]>
                </foreach>
            </if>
        </where>
    </sql>

    <!-- 智能排序与分页 -->
    <sql id="QUERY_ORDER_LIMIT_CONDTION">
        <if test="orderFieldList != null and orderFieldList.size &gt; 0 and orderFieldTypeList != null and orderFieldTypeList.size &gt; 0">
            <![CDATA[ORDER BY ]]>
            <foreach collection="orderFieldList" item="orderField" open="" separator="," close="" index="idx">
                <![CDATA[${orderField} ${orderFieldTypeList[idx]}]]>
            </foreach>
        </if>
        <if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0">
            <![CDATA[LIMIT #{startIndex}, #{pageSize}]]>
        </if>
    </sql>

    <!-- 普通列表查询 -->
    <select id="selectEntryList" resultType="com.dmall.cem.domain.model.MemStatisticReg">
        <![CDATA[ SELECT ]]>
        <include refid="QUERY_COLUMN_LIST" />
        <include refid="QUERY_FROM_TABLE" />
        <include refid="QUERY_WHERE_CLAUSE" />
    </select>


    <!-- 时间+会员等级的统计 -->
    <select id="dateAndLevelStattList" resultType="com.dmall.cem.domain.model.MemStatisticReg">
        <![CDATA[
          SELECT
              reg_date AS regDate,
              mem_level AS memLevel,
              SUM(reg_num) AS regNum,
              SUM(reg_num_total) AS regNumTotal
        ]]>
        <include refid="QUERY_FROM_TABLE" />
        <include refid="QUERY_WHERE_CLAUSE" />
        <![CDATA[
            GROUP BY
              reg_date,
              mem_level
        ]]>
    </select>


    <!--以下是更新语句，慎重修改!!!!!!!!!!!!-->

    <!-- 批量插入/更新记录 -->
    <insert id="batchInsertOrUpdate" useGeneratedKeys="false">
        <![CDATA[
			INSERT INTO
		]]>
        <include refid="TABLE_NAME" />
        <![CDATA[
			  (
			    reg_date, reg_num, reg_num_total, num_pt, num_total_pt, vender_id, vender_name, store_id, store_sap_id, store_name,
			    mem_level, platform, province_id, province_name, city_id, city_name, properties, info, created,
			    modified, yn
			  )
			VALUES
		]]>
        <foreach collection="list" item="entry" index="index" separator="," >
            <![CDATA[
			(
				#{entry.regDate}, #{entry.regNum}, #{entry.regNumTotal},#{entry.numPt}, #{entry.numTotalPt}, #{entry.venderId},
				#{entry.venderName}, #{entry.storeId},#{entry.storeSapId}, #{entry.storeName}, #{entry.memLevel}, #{entry.platform},
				#{entry.provinceId}, #{entry.provinceName}, #{entry.cityId}, #{entry.cityName}, #{entry.properties}, #{entry.info},
				#{entry.created}, #{entry.modified}, #{entry.yn}
			)
		]]>
        </foreach>
        <![CDATA[
            ON DUPLICATE KEY
            UPDATE
            reg_num = VALUES(reg_num),
            reg_num_total = VALUES(reg_num_total),
            num_pt = VALUES(num_pt),
            num_total_pt = VALUES(num_total_pt),
            properties = VALUES(properties),
            info = VALUES(info),
            modified = VALUES(modified),
            yn = VALUES(yn)
        ]]>
    </insert>

    <!--保存级别新增统计结果-->
    <insert id="saveAddNumByUpdate">
        <![CDATA[ INSERT INTO ]]>
        <include refid="TABLE_NAME" />
        <![CDATA[
                (reg_date, reg_num, mem_level, platform, store_sap_id, created, modified) VALUES
		]]>
        <foreach collection="list" item="entry" index="index" separator="," >
            <![CDATA[
			(
				#{entry.regDate}, #{entry.regNum},#{entry.memLevel},#{entry.platform},#{entry.storeSapId},
				#{entry.created}, #{entry.modified}
			)
		]]>
        </foreach>
        <![CDATA[
            ON DUPLICATE KEY
            UPDATE
            reg_num = VALUES(reg_num),
            modified = VALUES(modified)
        ]]>
    </insert>

    <!-- 计算会员级别环比 -->
    <update id="calcuCirclePt">
        UPDATE
        cem_mem_level_statistic t1
        LEFT JOIN cem_mem_level_statistic t2
        ON t1.mem_level = t2.mem_level
        AND t1.platform = t2.platform
        AND t1.store_sap_id = t2.store_sap_id
        SET t1.num_pt =
            CASE
            WHEN t1.reg_num = 0
            THEN 0
            WHEN t2.reg_num = 0
            OR t2.reg_num IS NULL
            THEN 1
            ELSE (t1.reg_num - t2.reg_num) / t2.reg_num
            END,
        t1.num_total_pt =
            CASE
            WHEN t1.reg_num_total = 0
            THEN 0
            WHEN t2.reg_num_total = 0
            OR t2.reg_num_total IS NULL
            THEN 1
            ELSE (
            t1.reg_num_total - t2.reg_num_total
            ) / t2.reg_num_total
            END
        WHERE t1.reg_date = #{thisDate}
        AND t2.reg_date = #{preDate}
    </update>

</mapper>