<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmall.cem.dao.MemStatisticBugInfoDao" >

    <sql id="TABLE_NAME">
        <![CDATA[ cem_mem_bug_statistic ]]>
    </sql>

    <sql id="LIMIT_PAGE"><![CDATA[LIMIT #{startIndex}, #{pageSize}]]></sql>

    <!--信息不全会员统计查询条件-->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            <if test="platform != null"><![CDATA[AND platform = #{platform}]]></if>
            <if test="cityIdList != null and cityIdList.size &gt; 0">
                <![CDATA[AND city_id IN]]>
                <foreach collection="cityIdList" item="singleVal" open="(" separator="," close=")">
                    <![CDATA[#{singleVal}]]>
                </foreach>
            </if>
            <if test="storeIdList != null and storeIdList.size &gt; 0">
                <![CDATA[AND store_id IN]]>
                <foreach collection="storeIdList" item="singleVal" open="(" separator="," close=")">
                    <![CDATA[#{singleVal}]]>
                </foreach>
            </if>
            <![CDATA[ AND (1=1 ]]>
            <if test="bugInfoType == null or bugInfoType == 1"><![CDATA[OR real_name IS NULL]]></if>
            <if test="bugInfoType == null or bugInfoType == 2"><![CDATA[OR phone IS NULL]]></if>
            <![CDATA[ ) ]]>
        </where>
    </sql>

    <!-- 信息不全会员查询 -->
    <select id="selectEntryList" resultType="com.dmall.cem.domain.model.MemStatisticBugInfo">
        <![CDATA[
          SELECT
              user_id AS userId,
              reg_time AS regTime,
              real_name AS realName,
              phone,
              city_name AS cityName,
              city_id AS cityId,
              province_name AS provinceName,
              province_id AS provinceId,
              vender_id AS venderId,
              vender_name AS venderName,
              store_id AS storeId,
              store_sap_id AS storeSapId,
              store_name AS storeName
         FROM
        ]]>
        <include refid="TABLE_NAME" />
        <include refid="QUERY_WHERE_CLAUSE" />
        <include refid="LIMIT_PAGE" />
    </select>

    <!--信息不全会员总数查询-->
    <select id="selectEntryListCount" resultType="int">
        <![CDATA[ SELECT COUNT(1) FROM ]]>
        <include refid="TABLE_NAME" />
        <include refid="QUERY_WHERE_CLAUSE" />
    </select>



    <!--以下是更新语句，慎重修改!!!!!!!!!!!!-->

    <!-- 批量插入/更新记录 -->
    <insert id="batchInsertOrUpdate" useGeneratedKeys="false">
        <![CDATA[
			INSERT INTO
		]]>
        <include refid="TABLE_NAME" />
        <![CDATA[
			  (
			    user_id, reg_time, vender_id, vender_name, store_id, store_sap_id, store_name, mem_level, platform,
			    province_id, province_name, city_id, city_name, real_name, phone, properties, info, created, modified,
			    yn
			  )
			VALUES
		]]>
        <foreach collection="list" item="entry" index="index" separator="," >
            <![CDATA[
			(
				#{entry.userId}, #{entry.regTime}, #{entry.venderId}, #{entry.venderName}, #{entry.storeId},
				#{entry.storeSapId}, #{entry.storeName}, #{entry.memLevel}, #{entry.platform}, #{entry.provinceId},
				#{entry.provinceName}, #{entry.cityId}, #{entry.cityName},#{entry.realName}, #{entry.phone},
				#{entry.properties}, #{entry.info}, #{entry.created}, #{entry.modified}, #{entry.yn}
			)
		]]>
        </foreach>
        <![CDATA[
            ON DUPLICATE KEY
            UPDATE
            store_id = VALUES(store_id),
            store_sap_id = VALUES(store_sap_id),
            store_name = VALUES(store_name),
            vender_id = VALUES(vender_id),
            vender_name = VALUES(vender_name),
            city_id = VALUES(city_id),
            city_name = VALUES(city_name),
            province_id = VALUES(province_id),
            province_name = VALUES(province_name),

            real_name = VALUES(real_name),
            phone = VALUES(phone),
            mem_level = VALUES(mem_level),
            modified = VALUES(modified)
        ]]>
    </insert>

    <!--删除注册信息合法的数据信息-->
    <update id="deleteNoBugInfo">
        <![CDATA[ DELETE  FROM ]]>
        <include refid="TABLE_NAME" />
        <![CDATA[ WHERE user_id IN ]]>
        <foreach collection="list" item="singleVal" open="(" separator="," close=")">
            <![CDATA[#{singleVal}]]>
        </foreach>
    </update>

</mapper>