<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmall.cem.dao.PointsFragmentsStatisticMapper">

	<resultMap id="BaseResultMap" type="com.dmall.cem.domain.PointsFragmentsStatistic">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="start_point" property="startPoint" jdbcType="BIGINT" />
		<result column="end_point" property="endPoint" jdbcType="BIGINT" />
		<result column="member_num" property="memberNum" jdbcType="BIGINT" />
		<result column="statistic_date" property="statisticDate" jdbcType="DATE" />
		<result column="yn" property="yn" jdbcType="TINYINT" />
		<result column="modified" property="modified" jdbcType="TIMESTAMP" />
		<result column="created" property="created" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		`id`,
		`start_point`,
		`end_point`,
		`member_num`,
		`statistic_date`,
		`yn`,
		`modified`,
		`created`
	</sql>

	<select id="selectLastStatistic" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cem_points_Fragments_statistic 
		WHERE statistic_date =(SELECT statistic_date FROM cem_points_Fragments_statistic ORDER BY id DESC LIMIT 1) ORDER BY start_point
	</select>

	<select id="selectCountOfDate" resultType="java.lang.Long" parameterType="com.dmall.cem.domain.PointsFragmentsStatistic">
		select COUNT(1)
		from cem_points_Fragments_statistic
		WHERE statistic_date = #{statisticDate}
	</select>

	<insert id="insertPointsFragmentsStatistic" parameterType="com.dmall.cem.domain.PointsFragmentsStatistic">
		INSERT INTO cem_points_Fragments_statistic
		(`start_point`, `end_point`,`member_num`,`statistic_date`,`yn`,`modified`,`created`)
		VALUES (#{startPoint},#{endPoint},#{memberNum},#{statisticDate},#{yn},#{modified},#{created})
	</insert>

	<delete id="deleteByDate" parameterType="com.dmall.cem.domain.PointsFragmentsStatistic">
		<![CDATA[ DELETE  FROM cem_points_Fragments_statistic  WHERE `statistic_date` = #{statisticDate}]]>
	</delete>
</mapper>